body{

	background: url(../images/18.jpg);
	text-align: center;
	height: 100%;
	width: 100%;
}

h1{
	font-size: 50px;
	color:darkkhaki;
}

#content{
	list-style-type: none;
	color: darkseagreen;
	font-size: 20px;
	width: 90%;
	text-align: center;
	margin-left: 50px;

}

#category{
	color: darkkhaki;
}

a:visited{
	color: darksalmon;
}