body{

	background: url(../images/12.jpg);
	text-align: center;
	height:1250px;
	width: 1300px;
}

h1{
	font-size: 60px;
	color:darkkhaki;
}

ul{
	list-style-type: none;
	color: darksalmon;
	font-size: 20px;
}

a:visited{
	color: darksalmon;
}

#content{
	list-style-type: none;
	color: darkseagreen;
	font-size: 20px;
	width: 90%;
	text-align: center;
	margin-left: 50px;

}